@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --light-bg: rgba(255, 255, 255, 0.95);
  --spacing1: 450px;
  --spacing2: 160px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  --transition-speed: 600ms;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  transition: var(--transition-speed);

}

h1, h2, h3, blockquote {
  font-weight: 700;
  font-style: normal;
  transition: var(--transition-speed);
}

header {
  color: black;
  font-family: 'Montserrat';
  text-transform: uppercase;
  width: auto;
  line-height: .8em;
  border: 7px solid black;
  padding: .2em;
  text-align: center;
  grid-column: 2 / 12;
  margin-bottom: var(--spacing1);
  margin-top: 100px;
  box-shadow: rgba(2, 8, 20, 0.18) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.14) 0px 0.175em 0.5em;
  font-size: 7em;
  transition: var(--transition-speed);
}

section {
  transition: all 200ms;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing2);
  box-shadow: rgba(2, 8, 20, 0.18) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.14) 0px 0.175em 0.5em;
  transition: var(--transition-speed);
}

blockquote {
  transition: all 200ms;
  margin: 0;
  padding: 0;
  margin-bottom: var(--spacing1);
  transition: var(--transition-speed);
}

blockquote p {
  color: black;
  background-color: var(--light-bg);
  font-size: 2rem;
  display: inline;
  line-height: 1.4;
  transition: var(--transition-speed);
}

.right {
  grid-column: 6 / 12;
}

.light {
  color: black;
  background-color: var(--light-bg);

}

body{
  overflow-x: hidden;
  margin: 0;
  transition: var(--transition-speed);
}


ul {
  transition: var(--transition-speed);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--light-bg);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: rgba(2, 8, 20, 0.18) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.14) 0px 0.175em 0.5em;
  z-index: 110;
  display: flex;
  align-items: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  float: left;
  box-shadow: rgba(2, 8, 20, 0.18) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.14) 0px 0.175em 0.5em;
  margin-left: 50px;
  margin-right: 50px;
  transition: var(--transition-speed);
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: var(--transition-speed);
}

li a:hover {
  background-color: rgb(230, 230, 230);
  transition: var(--transition-speed);
}

.active {
  background-color: rgb(200, 200, 200);
}

@media only screen and (max-width: 1800px) {
  header{
    font-size: 6em;
  }
}

@media only screen and (max-width: 1630px) {
  header{
    font-size: 5.5em;
  }
}

@media only screen and (max-width: 1500px) {
  header{
    font-size: 5.2em;
  }
}

@media only screen and (max-width: 1380px) {
  header{
    font-size: 4.7em;
  }
}

@media only screen and (max-width: 1210px) {
  header{
    font-size: 3.85em;
  }
}

@media only screen and (max-width: 1000px) {
  header{
    font-size: 3em;
  }
  
  li{
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 800px) {
  header{
    font-size: 2.3em;
  }
}

@media only screen and (min-width: 600px) {
  section{
    grid-column: 3 / 9;
  }

  blockquote:hover, section:hover{
    transform: translateY(-3px) scale(1.03);
  
  }

  .light{
    grid-column: 6 / 11;
  }

  blockquote{
    grid-column: 2 / 7;
  }


}

@media only screen and (max-width: 630px){
  header{
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 600px){
  section{
    grid-column: 2 / 12;
  }

  .light{
    grid-column: 2 / 12;
  }

  blockquote{
    grid-column: 2 /  12;
  }


}

